<header>
    <nav class="flex items-center justify-between mx-auto lg:w-65-5 lg:h-75px bg-bg-second rounded-main rounded-t-none">
        <div>
            <img src="/images/ssmg.svg" class="lg:h-75px" alt="logo školy SŠMG">
        </div>
        <div class="flex gap-2 items-center lg:m-22px">
            <p class="w-full text-center text-gray text-nowrap">Odhlásit se</p>
            <img src="/images/user-profile.svg" class="w-full h-full object-cover" alt="logo školy SŠMG">
        </div>
    </nav>
</header>