<header>
    <nav class="flex items-center justify-between mx-auto lg:w-65-5 lg:h-75px bg-bg-second rounded-main rounded-t-none">
        <div>
            <a href="/">
                <img src="/images/ssmg.svg" class="lg:h-75px" alt="logo školy SŠMG">
            </a>
        </div>
        <div class="flex gap-2 items-center lg:m-22px">
            <div class="flex w-full items-center gap-2 text-center text-gray text-nowrap">
                <% if (user.role == "admin") { %>
                    <a href="/admin/dashboard/users" class="text-main text-center">Admin dashboard</a>
                    <div class="lg:w-1 lg:h-10 bg-login-submit"></div>
                    <% } %> 
                <a href="/logout" class="w-full text-center text-gray text-nowrap">Odhlásit se</a>
            </div>
            <img src="/images/user-profile.svg" class="w-full h-full object-cover" alt="logo školy SŠMG">
        </div>
    </nav>
</header>