<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../partials/head.ejs') %>
</head>
<body class="<%- include('../partials/body') %> overflow-hidden">
    <main class="lg:w-[600px] lg:h-[771px] lg:mt-36 px-6 py-8 bg-bg-main mx-auto flex flex-col items-center justify-between rounded-main">
        <div>
            <p class="lg:text-6xl text-center font-black bg-gradient-to-t from-[#4C4F81] to-[#B2B5F0] bg-clip-text text-transparent">Code Tester</p>
            <img src="/images/ssmg.svg" class="my-1" alt="logo školy SŠMG">
        </div> 
        <form action="" class="flex flex-col gap-5 w-full" method="POST">
            <input type="text" name="username" placeholder="Uživatelské jméno" required class="lg:w-full lg:h-20 lg:text-28px bg-bg-third-dark placeholder:text-text-second text-main font-black text-center rounded-main focus:outline-none">
            <input type="password" name="password" placeholder="Uživatelské heslo" required class="lg:w-full lg:h-20 lg:text-28px bg-bg-third-dark placeholder:text-text-second text-main font-black text-center rounded-main focus:outline-none">
            <input type="submit" value="Přihlásit se" class="lg:w-full lg:h-20 lg:text-28px bg-login-submit text-main font-black text-center rounded-main hover:bg-bg-third-dark hover:cursor-pointer">    
            <p class="text-center text-gray">Nemáte spárovaný účet, spárujte si ho <a href="" class="underline underline-offset-2">zde</a>.</p>
        </form>
    </main>
</body>
</html>